body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    
    font-weight: 700;
    
}
h2{
    font-size: 35px;
    font-weight: 700;
}
h3{
    font-weight: bold;
    font-size: 22px;
}
.flexible-container{
    display: flex;
}
section{
    
    padding-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.link-button{
    text-decoration: none;
    border-radius: 5px;
    background-image:linear-gradient(orange, tomato);
    padding: 10px 30px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}
.half-width img{
    width: 80%;
}
.banner-section{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;

}
.dream-big{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.experience-section{
    background-image:url('images/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left;

}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px  gray;
   
    
}
#full-stack-experience{
    border-left: 6px solid;
    border-image:linear-gradient(salmon, tomato) ;
    border-image-slice: 1;
}
#web-dev-experience{
    border-left: 6px solid;
    border-image:linear-gradient(blue, cyan);
    border-image-slice: 1;
}